@charset 'utf-8';

body,
.page__background,
.pswp__bg {
  background: #8A0034 !important;
  background: -moz-linear-gradient(top, #D4124D 0%,#8A0034 100%) !important;
  background: -webkit-linear-gradient(top, #D4124D 0%,#8A0034 100%) !important;
  background: linear-gradient(to bottom, #D4124D 0%,#8A0034 100%) !important;
}

.list {
  border: none;
  box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.5);
}

.list.list--inset {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}