@charset 'utf-8';

body,
.page__background,
.pswp__bg {
  background: #741736 !important;
  background: -moz-linear-gradient(top, #b53450 0%,#741736 100%) !important;
  background: -webkit-linear-gradient(top, #b53450 0%,#741736 100%) !important;
  background: linear-gradient(to bottom, #b53450 0%,#741736 100%) !important;
}

.list {
  border: none;
  box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.5);
}

.list.list--inset {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}